@model MongoDBProjectLibrary.Cinema

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cinema</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeatingCapacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeatingCapacity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Likes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Likes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsRatingSet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRatingSet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkingTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkingTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
