@model MongoDBProjectLibrary.Restaurant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Restaurant</legend>
      <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
      <div class="display-label">
         @Html.DisplayNameFor(model => model.CoordinatesPlace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoordinatesPlace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeatingCapacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeatingCapacity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PriceCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PriceCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Likes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Likes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkingTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkingTime)
    </div>
      <div class="display-label">
         @Html.DisplayNameFor(model => model.AdditionalInformation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdditionalInformation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
