@{
    ViewBag.Title = "Places";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<section class="contact">
    <header>
        <h3>Restaurants</h3>
    </header>
    <p>
        @Html.ActionLink("Add Restaurant","Create","Restaurant")
    </p>
    <p>
        @Html.ActionLink("All Restaurants","Index","Restaurant")
        (Edit,Delete,Details)
    </p>
</section>

<section class="contact">
    <header>
        <h3>Cinemas</h3>
    </header>
    <p>
        @Html.ActionLink("Add Cinema","Create","Cinema")
    </p>
    <p>
        @Html.ActionLink("All Cinemas","Index","Cinema")
        (Edit,Delete,Details)
    </p>
</section>

<section class="contact">
    <header>
        <h3>Pharmacies</h3>
    </header>
    <p>
        @Html.ActionLink("Add Pharmacy","Create","Pharmacy")
    </p>
    <p>
        @Html.ActionLink("All Pharmacies","Index","Pharmacy")
        (Edit,Delete,Details)
    </p>
</section>

<section class="contact">
    <header>
        <h3>Hotels</h3>
    </header>
    <p>
        @Html.ActionLink("Add Hotel","Create","Hotel")
    </p>
    <p>
        @Html.ActionLink("All Hotels","Index","Hotel")
        (Edit,Delete,Details)
    </p>
</section>
<section class="contact">
    <header>
        <h3>Hostels</h3>
    </header>
    <p>
        @Html.ActionLink("Add Hostel","Create","Hostel")
    </p>
    <p>
        @Html.ActionLink("All Hostels","Index","Hostel")
        (Edit,Delete,Details)
    </p>
</section>
<section class="contact">
    <header>
        <h3>Government Buildings</h3>
    </header>
    <p>
        @Html.ActionLink("Add GovernmentBuilding","Create","GovernmentBuilding")
    </p>
    <p>
        @Html.ActionLink("All GovernmentBuildings","Index","GovernmentBuilding")
        (Edit,Delete,Details)
    </p>
</section>